body, html {
    /*make map take up the full viewport */
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
}

#map {
    height: 100%; /*make map take up the full viewport.
    Map is 100% of body, and body is 100% of html and html is 100% of viewport*/
}

.leaflet-clickable {
    fill: red;
    stroke: red;
}